# bash setting 6 load
echo "loading ~/.functions...."

# my linux server shell-env upload to Github Repo
function dotUp() {
                echo "Upload the tvctop.info-Shell-Env-Profile to Github,"
	 	echo "see more https://github.com/sennychu/linux-dotfiles. "
		echo # newline
		Server_Repository=/home7/tvctopin/linux-dotfiles
		cd $Server_Repository
		set -- -f; source bootstrap.sh
		git add -A; git commit -m "update by SC,from tvctop.info"; git push
}

function bR() {
        brew unlink "$@" && brew uninstall "$@"
}

function uXz() {
       extractdir=/home7/tvctopin/var/tmp
       filename="$@"
       realname="$(echo $filename | sed  -e "s/.tar.xz//")"
       xz -dc $filename  | tar -xpf -
       mv ./$realname $extractdir
       cd "$extractdir/$realname" && echo "Done!!"
}


function uBz() {
       extractdir=/home7/tvctopin/var/tmp
       filename="$@"
       realname="$(echo $filename | sed  -e "s/.tar.bz2//")"
       bzcat $filename | tar -xf -    
       mv ./$realname $extractdir
       cd "$extractdir/$realname" && echo "Done!!"
}


function bD() {
       extractdir=/home7/tvctopin/var/tmp
       pkgname="$@"
       brew unpack --destdir=$extractdir -v $pkgname
       echo "Done!!"
}

